@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9wbz9s');
  src:  url('fonts/icomoon.eot?9wbz9s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9wbz9s') format('truetype'),
    url('fonts/icomoon.woff?9wbz9s') format('woff'),
    url('fonts/icomoon.svg?9wbz9s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e951";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
